services:
  ros2_jazzy:
    build: .
    container_name: ros2_jazzy
    image: ros2_jazzy_image
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [ gpu ]
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ./Robot_ros2_ws:/root/ros2_ws
    network_mode: host
    stdin_open: true
    tty: true
    command: [ "/bin/bash", "/root/ros2_ws/init_host.sh" ]

  micro_ros_agent:
    image: microros/micro-ros-agent:jazzy
    container_name: micro_ros_agent
    network_mode: host
    privileged: true
    command: serial --dev ${ROBOT_DEVICE} -b 1500000
    volumes:
      - ${ROBOT_DEVICE}:${ROBOT_DEVICE}
    restart: unless-stopped
