version: "3.9"

services:
  ros2_jazzy:
    build: .
    container_name: ros2_jazzy
    image: ros2_jazzy_image
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ./Robot_ros2_ws:/root/ros2_ws # mount your workspace
    network_mode: host
    stdin_open: true
    tty: true
