<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="aar6">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import aar6 urdf file -->
    <xacro:include filename="$(find aar6)/urdf/PAROL6.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="aar6.ros2_control.xacro" />


    <xacro:aar6_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
